body {
	background-image: url(./images/backgroundimage.jpg);
}

.jumbotron {
	background-color: transparent;
	color: rgba(255, 255, 255, 0.568);
}

.lead  {
	color: rgb(0, 255, 234);
}

.btn-primary {
	background-color: rgba(4, 4, 68, 0.959);
	color: rgb(0, 255, 234);
}

.first  {
	color: rgb(0, 255, 234);
}

#email  {
	color: rgb(0, 255, 234);
}


#port1 { 
	float: left;
	text-align: center;
	padding: 20px;
}

#port2 { 
	float: left;
	text-align: center;
	padding: 20px;
}

#port3 { 
	float: left;
	text-align: center;
	padding: 20px;
}

#port4 { 
	clear:both;
	float: left;
	text-align: center;
	padding: 20px;
}
#port5 { 
	float: left;
	text-align: center;
	padding: 20px;
}

#port6 { 
	float: left;
	text-align: center;
	padding: 20px;
}



	.footer {
		position: fixed;
		left: 0px;
		bottom: 0px;
		width: 100%;
		font-size: 12px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		padding: 5px 0px;
		color: rgba(255, 255, 255, 0.568);
		background-color: #222;
		border-color: #080808;
		margin-top: 40px;
		}

	.side-bar { clear:both;
		width: 270px;
		background-color: #ffffff67;
		margin: auto;
		text-align: center;
		padding-bottom: 60px;
	}

	.link-images {
		width: 93%;
		text-align: center;
		padding-bottom: 10px;
	}

	.Connect {
		width: 50px;
		height: 50px;
		padding: 5px;
		margin-left: 10px;
	}

	.titles {
		font-family: cursive;
		font-size: 22px;
		padding: 25px;
		padding-bottom: 0;
		color: black;
		font-weight: bold;
		text-align: center;
	}

	hr {
		display: block;
		border: 0;
		border-top: 2px solid #999999;
		width: 93%;	
		padding: 0;
		margin: auto;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	

