body {
	background-image: url(./images/embossed-diamond.png);
}
#port1 { 
	float: left;
	text-align: center;
	padding: 20px;
}

#port2 { 
	float: left;
	text-align: center;
	padding: 20px;
}

#port3 { 
	float: left;
	text-align: center;
	padding: 20px;
}

#port4 { 
	clear:both;
	float: left;
	text-align: center;
	padding: 20px;
}
#port5 { 
	float: left;
	text-align: center;
	padding: 20px;
}

.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: black;
	width: 100%;
	font-size: 12px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px 0px;
	color: rgb(88, 86, 86);
	border-top: 6px solid rgb(75, 73, 73);
	}

	.side-bar { clear:both;
		width: 270px;
		background-color: #ffffff;
		margin: auto;
		text-align: center;
	}

	.link-images {
		width: 93%;
		text-align: center;
		padding-bottom: 10px;
	}

	.Connect {
		width: 50px;
		height: 50px;
		padding: 5px;
		margin-left: 10px;
	}

	.titles {
		font-family: cursive;
		font-size: 22px;
		padding: 25px;
		padding-bottom: 0;
		color: black;
		font-weight: bold;
		text-align: center;
	}

	hr {
		display: block;
		border: 0;
		border-top: 2px solid #999999;
		width: 93%;	
		padding: 0;
		margin: auto;
		margin-top: 15px;
		margin-bottom: 15px;
	}

